h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: #FFFFED;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    color: #FFFFED;
    text-align: center;
}

button {
    background-color: #3DA1FF;
    box-shadow: 0px 0px 5px #3DA1FF;
    border: none;
    color: #101828;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

    transform: scale(1);
    transition: transform 0.2s;
}

button:disabled {
    pointer-events: none;

    background-color: #FFFFED;
    box-shadow: 0px 0px 5px #FFFFED;
    color: #101828;
    opacity: 0.5;
}

button:hover:not(:disabled).button-intensity {
    transform: scale(1.1);
    transition: transform 0.3s;
    background-color: #7A5CFF;
    box-shadow: 0px 0px 5px #7A5CFF;
}

button:hover:not(:disabled):not(.character-images) {
    transform: scale(1.1);
    transition: transform 0.3s;
    background-color: #7A5CFF;
    box-shadow: 0px 0px 5px #7A5CFF;
}

button.cambioColor {
    background-color: #7A5CFF;
    box-shadow: 0px 0px 5px #7A5CFF;
}

select:disabled {
    pointer-events: none;

    background-color: #FFFFED;
    box-shadow: 0px 0px 5px #FFFFED;
    color: #101828;
    opacity: 0.5;
}

select:hover:not(:disabled) {
    transform: scale(1.1);
    transition: transform 0.3s;
    background-color: #7A5CFF;
    box-shadow: 0px 0px 5px #7A5CFF;
}

.character-images {
    background-color: transparent;
    box-shadow: none;
    width: 40%;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.selector-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.character-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-right: 1px solid #3DA1FF;
    gap: 10px;
}

.characters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.character-images > img {
    width: 100%;
    filter: drop-shadow(0 0 5px #3DA1FF);
    transform: scale(1);
    transition: transform 0.2s;
}

button:hover:not(:disabled).character-images {
    filter: drop-shadow(0 0 5px #7A5CFF);
    
}

button:hover:not(:disabled).character-images > img {
    filter: drop-shadow(0 0 5px #7A5CFF);
    filter: drop-shadow(0 0 10px #7A5CFF);
    transform: scale(1.1);
    transition: transform 0.3s;
}

button.character-images.cambioColor {
    background-color: transparent;
    box-shadow: none;
    filter: drop-shadow(0 0 5px #7A5CFF);
}

button.character-images.cambioColor > img {
    background-color: transparent;
    box-shadow: none;
    filter: drop-shadow(0 0 5px #7A5CFF);
    filter: drop-shadow(0 0 10px #7A5CFF);
}


.intensity-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-left: 1px solid #3DA1FF;
    border-right: 1px solid #3DA1FF;
}

.intensities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.button-intensity {
    width: 30%;
    height: 40px;
}

.duration-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-left: 1px solid #3DA1FF;
}

.durations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40%;
    row-gap: 20px;
    column-gap: 8%;
}

select, ::picker(select) {
    appearance: base-select;
}


select {
    width: 100%;
    height: 40px;
    background-color: #3DA1FF;
    box-shadow: 0px 0px 5px #3DA1FF;
    border: none;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #101828;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
    justify-items: center;

    transform: scale(1);
    transition: transform 0.2s;
}

option {
    background-color: #3DA1FF;
    border-color: #3DA1FF;
    font-family: 'Open Sans', sans-serif;
    color: #101828;
    font-weight: normal;
    font-size: 1em;
    margin-top: 0px;
    padding: 5px;
    padding-right: 7px;
}


::picker(select) {
    border: none;
    overflow: auto;
    border-radius: 20px;
    max-height: 200px;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    box-sizing: border-box; 
}

option:hover {
    background-color: #7A5CFF;
    box-shadow: 0px 0px 5px #7A5CFF;
}

select.cambioColor {
    background-color: #7A5CFF;
    box-shadow: 0px 0px 5px #7A5CFF;
}

option:first-of-type {
    border-radius: 20px 20px 0 0;
}

option:last-of-type {
    border-radius: 0 0 20px 20px;
}

.generate-routine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

#generar-rutina {
    width: 20%;
    height: 40px;
}

.routine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.routine-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.routine-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 25px;
    min-height: 350px;
}

.video-principal {
    width: 40%;
    aspect-ratio: 1 / 1;
}

.button-angle {
    width: 60%;
    min-width: 170px;
    height: 40px;
}

.cronometro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#progreso-ejercicio {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#time-rutina, #time-ejercicio, h5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.controls {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    row-gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-control {
    width: 65px;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.iconos {
    justify-self: center;
    align-self: center;
    width: 80%;
    height: auto;
}

video {
    border-radius: 18px;
}

.variables {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intensidad, .duracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intensidad h3, .duracion h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.reiniciar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#boton-reiniciar {
    width: 50%;
    height: 40px;
}

#boton-desdeHistorial {
    width: 50%;
    height: 40px;
}

@media (max-width: 1000px) {
    .character-selector, .intensity-selector, .duration-selector {
        height: 340px;
    }

    .routine-element {
        height: 300px;
    }

    .button-intensity {
        width: 50%;
        height: 40px;
    }

    .durations {
        width: 50%;
    }

    .button-angle {
        width: 60%;
        min-width: auto;
        height: 60px;
    }

    .button-control {
        width: 60px;
    }

    .characters {
        flex-direction: column;
    }

    .character-images {
        width: 50%;
    }

    #generar-rutina {
        width: 25%;
    }
}

@media (max-width: 800px) {
    h3 {
        font-size: 1.2em;
    }

    h5 {
        font-size: 1em;
    }

    .button-angle {
        height: 40px;
        font-size: 0.8em;
    }

    .character-selector, .intensity-selector, .duration-selector {
        height: 300px;
        border-top: none;   
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    .duration-selector {
        min-height: 300px;
    }

    .character-selector, .intensity-selector {
        width: 45%;
    }

    .character-selector {
        border-right: 1px solid #3DA1FF;
    }

    .intensity-selector {
        border-left: 1px solid #3DA1FF;
    }

    .duration-selector {
        width: 90%;
        height: 200px;
        border-top: 2px solid #3DA1FF;
    }

    .button-control {
        width: 50px;
    }

    #generar-rutina {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .routine-parent {
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .routine-element {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        min-height: 150px;
        gap: 10px;
    }

    #angle-container {
        flex-wrap: nowrap;
    }

    .video-container {
        height: 200px;
    }

    .button-angle {
        height: auto;
        min-height: 40px;
    }

    .progreso {
        width: 100%;
        justify-content: center;
    }

    .cronometro {
        width: 45%;
        flex-direction: column;
    }

    #time-rutina, #time-ejercicio {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .controls {
        width: 80%;
        flex-direction: row;
    }

    .button-control {
        width: 40px;
    }

    #generar-rutina {
        width: 35%;
    }
}

@media (max-width: 550px) {
    h3 {
        font-size: 1em;
    }

    h5 {
        font-size: 0.8em;
    }

    button {
        font-size: 0.8em;
    }

    select {
        font-size: 0.8em;
    }

    .selector-parent {
        flex-direction: column;
        height: auto;
        gap: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .character-selector, .intensity-selector, .duration-selector {
        width: 80%;
        height: auto;
        border-top: none;   
        border-bottom: none;
        border-left: none;
        border-right: none;
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .character-selector {
        border-bottom: 1px solid #3DA1FF;
    }

    .intensity-selector {
        border-top: 1px solid #3DA1FF;
        border-bottom: 1px solid #3DA1FF;
    }

    .duration-selector {
        border-top: 1px solid #3DA1FF;
    }
}

@media (max-width: 320px) {
    .button-angle {
        height: auto;
        min-height: 56px;
    }

    .character-images {
        flex-direction: row;
        width: 60%;
    }
}

.hide {
    display: none;
}

.transparent {
    opacity: 0;
}