h3 {
    text-align: center;
    margin: 10px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #ffffed;
}

.historial-info > h3 {
    font-size: 1.2rem;
}

p {
    text-align: center;
    margin: 10px;
    font-weight: 400;
    font-size: 1.3rem;
    color: #ffffed;
}

.grid-historial {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 5%;
}

.historial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-historial {
    width: 25%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 1rem;
    color: #ffffed;
    cursor: pointer;
    transition: transform 0.3s;
    justify-content: center;
    align-items: center;
}

.card-historial:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.historial-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.img-content {
    overflow: hidden;
    border-radius: 20px;
    width: 80%;
}

#img-popup {
    width: 100%;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,.6);
    z-index: 1;
}

.popup-content {
    background: #101828;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: 20px;
    width: 70%;
    justify-content: center;
    align-items: center
}

.popup-up {
    display: flex;
    justify-content: end;
    align-items: center;
}

.popup-down {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: start;
}

.content-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.popup-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.arriba {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.abajo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center; 
    margin-top: auto; 
    margin-bottom: auto;
}

.close-btn {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    background-color: #101828;
    cursor: pointer;
    border: none;
    padding: 0px;
}

#boton-repetir {
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #101828;
    border-radius: 20px;
    border: none;
}

.hide {
    display: none;
}

@media (max-width: 1200px) {
    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }
    
    .popup-left {
        width: 40%;
    }

    .close-btn {
        font-size: 1.8em;
    }
}

@media (max-width: 1000px) {
    h3 {
        font-size: 1rem;
    }

    .historial-info > h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    #boton-repetir {
        font-size: 1.2em;
    }

    .close-btn {
        font-size: 1.5em;
    }
}

@media (max-width: 800px) {
    .card-historial {
        width: 35%;
    }
}

@media (max-width: 700px) {
    .popup-down {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    h3 {
        font-size: 0.8rem;
    }

    .historial-info > h3 {
        font-size: 0.8rem;
    }

    p {
        font-size: 0.6rem;
    }

    .grid-historial {
        width: 100%;
        flex-direction: row;
    }

    .close-btn {
        font-size: 1.2em;
    }

    #boton-repetir {
        font-size: 1em;
    }
    
    .popup-left {
        width: 40%;
    }

    .popup-content {
        gap: 0rem;
    }
}

@media (max-width: 450px) {
    .grid-historial {
        width: 100%;
        flex-direction: column;
    }

    .card-historial {
        width: 60%;
    }
}